$color-white: #fff;
$color-black: #000;
$color-primary: #cda45e;
$dark-brown: #1a1814;
$light-brown: #333230;
$dark-bgcolor: #0c0b09;
$light-gray: #aaa;
$dishbordercolor: #484643;
$dotgraycolor: #ddd;
$inputbordercolor: #625b4b;
$btnhoverbgcolor: #d3af71;
$testimonalboxolor: #26231d;
$iconbgcolor: #28251f;
